#
# Configuration file for SlurmScale library.
#

[slurmscale]

# Name of the provision manager class used during the provisioning step
provision_manager_name = JetstreamIUProvisionManager

# Name of the config manager class used for the configuration step
config_manager_name = GalaxyJetstreamIUConfigManager

# Provider-specific ID of the image to be used for provisioning instances.
# CentOS-7-x86_64-GenericCloud-1607 on Jetstream IU
image_id = 1790e5c8-315a-4b9b-8b1f-46e47330d3cc

# Type of virtual machine to launch when creating instances.
instance_type = m1.large

# Provider-specific ID of the network within which to launch instances.
# Dev-public network on ..022 JS acct
network_id = 295cba46-10f0-4fd4-8494-c821c4c4098a

# SSH key pair to use when launching instances. The key pair must exist prior
# to use.
key_pair = elasticity_kp

# Security group to use when launching instances. The security group must
# exist prior to use.
security_groups = gxy-workers-sg,gxy-sg

# Prefix used when identifying existing cluster nodes and naming new instances.
node_name_prefix = jetstream-iu-large

# Root path for the Ansible playbook
ansible_playbook_root = /opt/slurm_cloud_provision/infrastructure-playbook

# Path where the inventory file will be stored for the Ansible playbook used
# as the configuration step.
ansible_inventory = jetstreamiuenv/inv

# Path for the Ansible playbook to be used by the configuration step
ansible_playbook = jetstreamiuenv/playbook.yml

# Path to the virtual environment used by the configuration step
config_venv_path = /opt/slurm_cloud_provision
